.wrapper {
  display: flex;
  margin: 10px 0;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(77, 150, 184);
  justify-content: center;
}

.wrapper_now {
  padding: 20px 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper_now_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card {
  margin: 0px 10px;
}